#D4D1D1 - light gray
#E62652 - 


* {
    margin: 0px;
}

.header {
    height: 500px;
    overflow: hidden;
}

.z10 {
    z-index: 10;
}

.z15 {
    z-index: 15;
}

.z20 {
    z-index: 20;
}

.opacity {
    opacity: 70%;
}

.top {
    top: 0px;
}

.h500 {
    height: 500px;
}


.photo1 {
    height: 600px;
    position: absolute;
    left: -80px;
}

.photo2 {
    height: 600px;
    position: absolute;
    left: -40px;
}

.photo3 {
    width: 800px;
    position: absolute;
    top: -140px;
}

.photo4 {
    height: 600px;
    position: absolute;
    left: -110px;
    top: -100px;
}

.textbox {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    height: 75px;
}

.lift {
    position: relative;
    top: -100px;
}

.round {
    border-radius: 3%
}

.bglightgray {
    background-color: rgb(216, 216, 216);
}

.centerme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bgimage {
    background-image: url(../images/bwhorns.jpg);
    width: 100%;

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tall {
    height: 800px;
}

.nooverflow {
    overflow: hidden;
}